@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

svg,
svg * {
  pointer-events: all;
}
.state {
  fill: rgba(0, 123, 255, 0.06);
  stroke: rgba(0, 123, 255, 0.6);
}
.state:hover {
  fill: rgba(0, 123, 255, 0.6);
}

header {
  padding: 1rem;
}
header img {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}
div {
  margin: 0 auto;
  width: 590px;
  position: relative;
}
p {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: 2px solid rgba(0, 123, 255, 0.6);
  background-color: rgba(0, 123, 255, 0.06);
  color: rgba(0, 123, 255, 0.6);
  font-weight: bold;
  font-family: Sen, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 270px;
}
